<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">NFT Mint</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link scroll-link" href="#featured">Featured</a></li>
                <li class="nav-item"><a class="nav-link scroll-link" href="#projects">Projects</a></li>
                <li class="nav-item"><a class="nav-link scroll-link" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link scroll-link" href="#contact">Contact</a></li>
            </ul>
            <button id="wallet-connect" class="btn btn-outline">Connect Wallet</button>
        </div>
    </div>
</nav>    
<!--Index JavaScript Reference - Mainly for MetaMask wallet connection-->
<script type = "module" src="./js/index.js"></script>


