<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <%- include('partials/navbar') %>

    <section id="projects" class="container bg-light text-center">
        <h2>Projects</h2>
        <div class="project-list">
            <%- include('projects-content') %>
        </div>
    </section>

</body>
</html>

